/*
  Variables
*/
@import url(https://fonts.googleapis.com/css?family=Shanti);
@import url(https://fonts.googleapis.com/css?family=Lobster);

html
  font-family sans-serif
    
h1
  font-family: 'Roboto Slab', serif
  font-weight 100
  font-size 10rem

p
  font-family: 'Roboto', sans-serif;
  font-size 1.3rem
  line-height 1.7
  
svg
  .text
    font-family 'Roboto', sans-serif;
    font-size .7em
    
  text
    font-family FontAwesome
    font-size 3em
    fill #A3B728

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf')
  font-weight: normal;
  font-size: normal;
}
