@import '_typography.styl'
@import '_normalize.styl'

blue = #19A6A5
lightblue = #53CAC9
powderblue = #B5E4E3

green = #A3B728
lightgreen = #E9F87F

yellow = #E3E9B8

body
  margin 0
  padding 0

.main-container
  display flex
  flex-flow row wrap
  margin 0
      
.navbar
  flex 0 1 100%
  background-color green
  ul
    padding 1em 2em
    width 100%
    list-style none
    display flex
    flex-flow row wrap
    align-items center
    justify-content space-around
    height 100%
    margin 0
    li
      color white
    .logo
      flex 0 1 80%
      font-size 1.4em
    .menu
      flex 0 1 5%

.section__chef
  flex 0 1 100%
  display flex
  flex-flow row wrap
  .panel
    flex 1
    text-align center
    display flex
    flex-flow column 
    align-items center
    justify-content center
    .about
      min-width 433px
      max-width 500px
      border-top 1px solid blue
      color blue
      p
        font-size 1em
        color black

            
.section__threeItems
  display flex
  flex-flow row wrap
  flex 0 1 100%
  color white
  .big
    display flex
    flex-flow column
    justify-content center
    align-items center
    flex 0 1 25% 
    background-color #19A6A5
    text-align center
    p
      font-size 1.7em
  .items
    flex 0 1 25%
    background-color #53CAC9
    .container
      display flex
      flex-flow column
      align-items center
      height 100%
      img 
        margin-top 2em
      p
        max-width 260px
        font-size 1em

.section__threeItems--right
  @extend .section__threeItems
  .big
    background-color #A3B728
    order 4
  .items
    display flex
    justify-content space-around
    flex 1
    background-color #E9F87F
    .container
      max-width 260px
      h2
        align-self flex-start
        color black
        font-size 1em
      p
        height 100%
        width 100%
        padding .5em .5em
        margin-top -44%
        line-height 1.5
        background-color: rgba(0, 0, 0, 0.7);

.section__specials
  display flex
  flex-flow row wrap
  justify-content space-around
  flex 0 1 100%
  margin 0 1em
  .heading
    flex 0 1 100%
    h1
      text-align left
  .items
    flex 0 1 20%
    .container
      display flex
      flex-flow column
      justify-content flex-start
      align-items flex-start
      width 360px
      h2
        flex 0 1 4em
        color #53CAC9
        font-size 1.3em
      img
      p
        font-size 1em

.section__specials--blog
  @extend .section__specials
  .items
    .container
      width 400px
      h2
        width 100%
        margin 0 0
        padding 1em 1em
        font-size 1em
        color white
      p
        padding .5em 1em
    &:nth-child(odd)
      background-color powderblue
      h2
        background-color blue
    &:nth-child(even)
      background-color yellow
      h2
        background-color green
    &:nth-child(4)
      background-color white
      h2
        color #53CAC9
        background-color white
      .container
        width 360px
        h2
          padding 1em 0
        p
          padding 0 0

.navbar--bottom
  @extend .navbar
  margin-top 2em
  background-color blue
  ul
    li:nth-child(1)
      font-size .9em
      order 4
      align-self flex-end
      text-align right


@media screen and (max-width: 1100px)
  .section__threeItems, .section__threeItems--right
    .big
      flex 0 1 100%
      i
        margin-top .5em
    .items
      flex 1
  .navbar
    ul
      .logo
        flex 0 1 20%
      .menu
        flex 0 1 20%

@media screen and (max-width: 800px)
  .section__threeItems, .section__threeItems--right
    .big
      flex 0 1 100%
      i
        margin-top .5em
    .items
      flex 0 1 100%

@media screen and (max-width: 600px) 
  .navbar
    ul
      justify-content center
      .logo
        flex 0 1 100%
        text-align center
        padding 1em
      .menu
        flex 0 1 25%
        text-align center



  





