<img src={{image}}>
<div class="about">
  <h1>{{name}}</h1>
  <p>She is an italian-born American chef, writer, television personality, and the host of the current Food Network television program Food Paradise</p>
</div>