<div class="items">
  <div class="container">
  {{#if title}}
    <h2>{{title}}</h2>
  {{/if}}
    {{#if image}}
    <img src={{image}} />
    {{/if}}
    <p>{{$newline description}}</p>
  </div>
</div>