  <div class="big">
  {{#if right}}
    <i class="fa fa-cutlery fa-5x" aria-hidden="true"></i>
 {{else}}
    <i class="fa fa-shopping-basket fa-5x" aria-hidden="true"></i>
  {{/if}}

  {{#if left}}
    <p>Let's get <br> cooking!</p>
  {{else}}
    <p>Restaurants</p>
  {{/if}}

  </div>
  {{#items}}{{> item}}{{/items}}

